body {
    display: flex;
    justify-content: center;
    height: 90vh;
}

#container {
    border: 2px solid black;
    border-top: 0;
    border-right: 0;

    height: 592px;
    width: 592px;

    align-self: center;
  
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}
 /* tile size 37px*/

#container .row {
    border: 2px solid black;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;

    height: 37px;

    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.row .tile {
    border: 2px solid black;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;

    width: 37px;
    
    flex: 1 1 auto;
}